// fonts
$font_primary: 'Inter', sans-serif;
$font_heading: 'Poppins', sans-serif;

//colors
$color-primary: #22B573;
$color-secondary: #8CC63F;
$color-text: #52575C;
$color-dark: #25282B;
$color-yellow: #FBE122;
$color-red: #E74F48;
$color-white: #FFFFFF;
$color-gray: #616161;

// shadow
$shadow-primary: #22b57311;