// fonts
$font_primary: 'Inter', sans-serif;
$font_heading: 'Poppins', sans-serif;

//colors
$color_primary: #22B573;
$color_secondary: #8CC63F;
$color_text: #52575C;
$color_yellow: #FBE122;
$color_red: #E74F48;