@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  color: #52575C;
  background-color: #F5F5F5;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.25rem;
  font-weight: 600;
}
h1.special {
  font-size: 4.063rem;
  font-weight: 600;
}

h2 {
  font-size: 1.625rem;
  font-weight: 600;
}

h3 {
  font-size: 1.375rem;
  font-weight: 600;
}

h4 {
  font-size: 1.125rem;
  font-weight: 500;
}

h5 {
  font-size: 1rem;
  font-weight: 500;
}

h6 {
  font-size: 0.875rem;
  font-weight: 500;
}

.section-title-area {
  margin-bottom: 30px;
}
.section-title-area .section-title {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-title-area .section-title .title {
  color: #FFFFFF;
  background-color: #22B573;
  padding: 10px 15px;
  position: relative;
}
.section-title-area .section-title .title::after {
  content: "";
  position: absolute;
  top: 0;
  right: -60px;
  width: 0px;
  height: 0px;
  border-top: 0px solid transparent;
  border-bottom: 63px solid transparent;
  border-left: 60px solid #22B573;
}
.section-title-area .section-title .title span {
  font-weight: 400;
}
.section-title-area .section-title .action {
  padding: 0px 15px;
}
.section-title-area .section-title .action ul {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.section-title-area .section-title .action ul li {
  background-color: gray;
  padding: 0px 5px;
  color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  font-size: 22px;
}
.section-title-area .section-title .action ul li:hover {
  background-color: #22B573;
}

.btn.btn-xl {
  padding: 15px 30px;
  font-weight: 600;
  font-size: 1.5rem;
}
.btn.btn-primary {
  background-color: #22B573;
  border-color: #22B573;
}
.btn.btn-primary:hover {
  background-color: #8CC63F;
  border-color: #8CC63F;
}

.form-group .form-control {
  font-family: "Inter", sans-serif;
  border-color: #CACCCF;
}
.form-group .form-control:focus {
  box-shadow: none;
  border-color: #22B573;
}

.form-check-input:checked {
  background-color: #22B573;
  border-color: #22B573;
}

.form-group {
  margin-bottom: 20px;
}
.form-group label {
  font-size: 1.125rem;
  margin-bottom: 10px;
  font-weight: 300;
  color: #707575;
}
.form-group .form-control, .form-group .form-select {
  font-weight: 400;
  height: 45px;
}
.form-group .form-control:focus, .form-group .form-select:focus {
  box-shadow: none;
}
.form-group .text-danger {
  font-weight: 300;
  font-size: 0.875rem;
}
.form-group .form-check .form-check-input:checked {
  background-color: #22B573;
  border-color: #22B573;
}
.form-group .form-check .form-check-label {
  font-weight: 400;
  font-size: 1rem;
}

header {
  background-color: #22B573;
  padding: 10px 0px;
}
header .logo {
  padding: 10px 0px;
}
header .menus ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header .menus ul li a {
  color: #FFFFFF;
  padding: 1.125rem 15px;
  display: block;
  transition: 250ms;
  font-weight: 1.125rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
header .menus ul li a:hover {
  background-color: #FFFFFF;
  color: #22B573;
}
header .header-bar-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  -moz-column-gap: 15px;
       column-gap: 15px;
  color: #FFFFFF;
  padding: 5px 0px;
}
header .header-bar-list .lang {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1.125rem;
}
header .header-bar-list .user ul {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
header .header-bar-list .user ul li a {
  color: #FFFFFF;
  font-size: 1.125rem;
}
header .header-bar-list .btn {
  color: #646060;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px;
}

.search-box {
  background-color: #FFFFFF;
  padding: 30px 0px;
}
.search-box .form-group .form-control {
  height: 66px;
}
.search-box .form-submit-btn .btn {
  width: 100%;
  height: 66px;
  font-size: 1.5rem;
}
.search-box .form-submit-btn .btn i.bx {
  margin-right: 5px;
}
.search-box.search-filter {
  background-color: rgba(255, 255, 255, 0);
  padding: 0px 0px;
}
.search-box.search-filter .form-group .form-control {
  background-color: rgba(255, 255, 255, 0);
}

.location-searches {
  position: relative;
  z-index: 1;
  color: #FFFFFF;
  padding: 50px 0px 20px 0px;
}
.location-searches::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #22B573;
  opacity: 0.7;
  z-index: -1;
}
.location-searches .location-search .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-bottom: 50px;
}
.location-searches .location-search .title ul li {
  display: inline-block;
  font-size: 1.25rem;
}
.location-searches .location-search .search-fields {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.location-searches .location-search .search-fields .form-select {
  width: 250px;
  background-color: #8CC63F;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 1.325rem;
  padding: 15px 10px;
}
.location-searches .location-search .search-fields .btn-search {
  border-radius: 5px;
  border: none;
  padding: 15px 30px;
  font-size: 1.325rem;
  font-weight: 500;
}
.location-searches .location-search .search-fields .btn-search.btn-secondary {
  background-color: #8CC63F;
}
.location-searches .location-search .search-fields .btn-search.btn-light {
  color: #5B5B5B;
}

.filters {
  margin-bottom: 30px;
  background-color: #FFFFFF;
}
.filters .filters-header {
  border-bottom: 1px solid #E8E8E8;
  padding: 15px;
  margin-bottom: 15px;
}
.filters .filters-body {
  padding: 0px 20px;
}
.filters .filters-body .accordion .accordion-item {
  border: none;
  border-bottom: 1px solid #E8E8E8;
}
.filters .filters-body .accordion .accordion-item .accordion-header {
  border-bottom: none;
}
.filters .filters-body .accordion .accordion-item .accordion-header .accordion-button {
  background: none !important;
  padding: 20px 0px;
  color: #22B573;
  font-size: 1.125rem;
  font-weight: 500;
}
.filters .filters-body .accordion .accordion-item .accordion-header .accordion-button:focus {
  box-shadow: none;
}
.filters .filters-body .accordion .accordion-item .accordion-header .accordion-button.collapsed {
  color: #52575C;
}
.filters .filters-body .accordion .accordion-item .accordion-header .accordion-button ::after {
  color: #22B573 !important;
}
.filters .filters-body .accordion .accordion-item .accordion-collapse .accordion-body {
  padding: 10px;
}
.filters .filters-footer {
  padding: 0px 20px;
}

.action-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.action-btns div {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.action-btns div .btn {
  border-radius: 5px;
  border: none;
  padding: 12px 24px;
  font-size: 1.325rem;
  font-weight: 500;
}
.action-btns div .btn.btn-secondary {
  background-color: #8CC63F;
}
.action-btns div .btn.btn-light {
  color: #5B5B5B;
}

.banner-items {
  min-height: 500px;
}
.banner-items .banner-item {
  padding: 30px 0px;
}
.banner-items .banner-item .banner-content h1 span {
  color: #22B573;
}
.banner-items .banner-item .banner-content p {
  margin: 15px 0px;
}
.banner-items .banner-item .banner-content .btn {
  margin-top: 15px;
  border-radius: 50px;
  padding: 10px 15px;
  font-size: 1.125rem;
  font-weight: 500;
}

main {
  background-color: #F5F5F5;
}

.categories-area {
  padding: 60px 0px;
}
.categories-area .categories {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.categories-area .categories .category {
  text-align: center;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 15px 0px 25px;
}
.categories-area .categories .category a {
  color: #52575C;
  font-size: 1.125rem;
  text-transform: uppercase;
}
.categories-area .categories .category a img {
  margin-bottom: 5px;
}
.categories-area .categories .category:hover {
  background-color: #22B573;
  cursor: pointer;
  text-transform: uppercase;
}
.categories-area .categories .category:hover a {
  color: #FFFFFF;
}
.categories-area .categories .category:nth-child(-n+6) {
  border-top: 1px solid #ddd;
}
.categories-area .categories .category:nth-child(6n+1) {
  border-left: 1px solid #ddd;
}

.amad-area {
  padding: 30px 0px;
}

.amad-list {
  padding: 0px 0px 30px 0px;
}
.amad-list .amad-item {
  display: flex;
  background-color: #FFFFFF;
  margin-bottom: 30px;
  align-items: center;
  padding: 10px 5px;
  box-shadow: 0px 2px 5px 0px rgba(34, 181, 115, 0.0666666667);
}
.amad-list .amad-item .amad-thumbnail {
  width: 300px;
}
.amad-list .amad-item .amad-content {
  width: calc(100% - 300px);
}
.amad-list .amad-item .amad-content .amad-header {
  padding: 10px 0px;
  position: relative;
}
.amad-list .amad-item .amad-content .amad-header a {
  color: #25282B;
  display: inline-block;
  position: relative;
}
.amad-list .amad-item .amad-content .amad-header a .condition {
  position: absolute;
  top: 0;
  left: 100%;
  background: #616161;
  color: white;
  font-weight: 400;
  font-size: 13px;
  padding: 1px 8px;
  border-radius: 25px;
}
.amad-list .amad-item .amad-content .amad-header a .condition.condition-warning {
  background-color: #E74F48;
}
.amad-list .amad-item .amad-content .amad-header a .condition.condition-info {
  background-color: #FBE122;
}
.amad-list .amad-item .amad-content .amad-header ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.amad-list .amad-item .amad-content .amad-header ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #616161;
  -moz-column-gap: 5px;
       column-gap: 5px;
  font-weight: 300;
}
.amad-list .amad-item .amad-content .amad-header ul li .icon {
  font-size: 24px;
}
.amad-list .amad-item .amad-content .amad-header .promotion-badge {
  position: absolute;
  top: 5px;
  right: 10px;
}
.amad-list .amad-item .amad-content .amad-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 15px;
  padding-top: 10px;
}
.amad-list .amad-item .amad-content .amad-body .features {
  width: 70%;
  padding-left: 15px;
}
.amad-list .amad-item .amad-content .amad-body .features ul {
  display: grid;
  list-style-type: disc;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 15px;
  font-size: 14px;
}
.amad-list .amad-item .amad-content .amad-body .pricing {
  width: 30%;
  color: #25282B;
}
.amad-list .amad-item .amad-content .amad-footer {
  margin-top: 15px;
  border-top: 1px solid #A0A4A8;
  padding-top: 10px;
}
.amad-list .amad-item .amad-content .amad-footer .amad-footer-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.amad-list .amad-item .amad-content .amad-footer .amad-footer-items .amad-store {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.amad-list .amad-item .amad-content .amad-footer .amad-footer-items .amad-store .store-icon {
  width: 35px;
  height: 35px;
  background-color: #8CC63F;
  border-radius: 50%;
  overflow: hidden;
}
.amad-list .amad-item .amad-content .amad-footer .amad-footer-items .amad-store .store-icon img {
  width: 100%;
  height: auto;
}
.amad-list .amad-item .amad-content .amad-footer .amad-footer-items .amad-store .store-title {
  line-height: 18px;
}
.amad-list .amad-item .amad-content .amad-footer .amad-footer-items .amad-store .store-title p {
  color: #25282B;
  font-size: 1rem;
}
.amad-list .amad-item .amad-content .amad-footer .amad-footer-items .amad-store .store-title small {
  font-size: 12px;
}
.amad-list .amad-item .amad-content .amad-footer .amad-footer-items .amad-call {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.amad-list .amad-item .amad-content .amad-footer .amad-footer-items .amad-call .call-icon {
  background-color: #8CC63F;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 0;
  padding: 7px;
  border-radius: 50%;
}
.amad-list .amad-item .amad-content .amad-footer .amad-footer-items .amad-call .call-content {
  line-height: 18px;
}
.amad-list .amad-item .amad-content .amad-footer .amad-footer-items .amad-call .call-content p {
  color: #25282B;
}
.amad-list .amad-item .amad-content .amad-footer .amad-footer-items .amad-chat {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.amad-list .amad-item .amad-content .amad-footer .amad-footer-items .amad-chat .chat-icon {
  background-color: #8CC63F;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 0;
  padding: 7px;
  border-radius: 50%;
}
.amad-list .amad-item .amad-content .amad-footer .amad-footer-items .amad-chat .chat-content p {
  color: #25282B;
}

.amad-banners .amad-banner img {
  width: 100%;
}

.amad-carousel-items {
  position: relative;
  margin: 15px 0px;
}
.amad-carousel-items .amad-carousel-item {
  position: relative;
  z-index: 1;
}
.amad-carousel-items .amad-carousel-item::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #25282B;
  content: "";
  z-index: -1;
}
.amad-carousel-items .amad-carousel-item .amad-carousel-img {
  position: relative;
}
.amad-carousel-items .amad-carousel-item .amad-carousel-img::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #314B5A;
  content: "";
  opacity: 50%;
}
.amad-carousel-items .amad-carousel-item .amad-carousel-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(49, 75, 90, 0.631372549);
  color: #fff;
  padding: 15px;
}
.amad-carousel-items .amad-carousel-item .amad-carousel-content h3 {
  margin: 5px 0px;
  font-size: 24px;
  font-weight: 500;
}
.amad-carousel-items .amad-carousel-item .amad-carousel-content h3:last-child {
  color: #22B573;
  font-weight: 600;
}
.amad-carousel-items .owl-nav .owl-prev,
.amad-carousel-items .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
}
.amad-carousel-items .owl-nav .owl-prev i.bx,
.amad-carousel-items .owl-nav .owl-next i.bx {
  background: #22B573;
  padding: 15px 2px;
  color: #FFFFFF;
  font-size: 2.25rem;
}
.amad-carousel-items .owl-nav .owl-next {
  left: auto;
  right: 0;
}

.amad-details-area {
  padding: 40px 0px;
}
.amad-details-area .amad-galleries {
  margin-bottom: 30px;
}
.amad-details-area .amad-galleries .amad-thumbnail img {
  width: 100%;
}
.amad-details-area .amad-galleries .amad-gallery-items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin: 5px 0px;
  align-items: center;
}
.amad-details-area .amad-contents .amad-content-item {
  border-bottom: 1px solid #E8E8E8;
  margin-bottom: 30px;
}
.amad-details-area .amad-contents .amad-content-item:last-child {
  border-bottom: none;
}
.amad-details-area .amad-contents .amad-content-item-title {
  margin-bottom: 30px;
}
.amad-details-area .amad-contents .amad-content-item-title h2 span {
  font-weight: 300;
}
.amad-details-area .amad-contents .amad-content-item-body h4 {
  margin-bottom: 10px;
}
.amad-details-area .amad-contents .amad-content-item-body p {
  margin-bottom: 30px;
  text-align: justify;
}
.amad-details-area .amad-specification {
  margin-bottom: 30px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.0901960784);
}
.amad-details-area .amad-specification .table tr {
  background-color: #FFFFFF;
}
.amad-details-area .amad-specification .table tr:first-child h1 {
  color: #22B573;
}
.amad-details-area .amad-specification .table tr:nth-child(even) {
  background-color: #E8E8E8;
}
.amad-details-area .amad-specification .table tr td {
  border: none;
  width: 50%;
  font-weight: 500;
  font-size: 1.125rem;
  font-family: "Inter", sans-serif;
  padding: 15px 10px;
}
.amad-details-area .amad-specification .table tr td:first-child {
  font-weight: 400;
}
.amad-details-area .amad-store {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  background-color: #FFFFFF;
  padding: 10px 0px;
  margin-bottom: 30px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.0901960784);
}
.amad-details-area .amad-store .store-icon {
  width: 65px;
  height: 65px;
  background-color: #8CC63F;
  border-radius: 50%;
  overflow: hidden;
}
.amad-details-area .amad-store .store-icon img {
  width: 100%;
  height: auto;
}
.amad-details-area .amad-store .store-title p {
  color: #25282B;
  font-size: 1rem;
}
.amad-details-area .amad-store .store-title small {
  font-size: 12px;
}
.amad-details-area .amad-chat {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  background-color: #FFFFFF;
  padding: 10px 0px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.0901960784);
}
.amad-details-area .amad-chat .chat-icon {
  background-color: #8CC63F;
  color: #FFFFFF;
  font-size: 32px;
  line-height: 0;
  padding: 7px;
  border-radius: 50%;
}
.amad-details-area .amad-chat .chat-content h2 {
  color: #25282B;
}

.store-cover-photo img {
  width: 100%;
}

.store-content {
  padding: 30px 0px;
}
.store-content .store-details {
  background: #FFFFFF;
  margin-top: -150px;
  border-radius: 5px;
}
.store-content .store-details .store-header {
  margin-bottom: 20px;
  border-bottom: 1px solid #E8E8E8;
  padding: 30px 15px 20px;
  text-align: center;
}
.store-content .store-details .store-header .store-img {
  margin-bottom: 15px;
}
.store-content .store-details .store-details-item {
  padding: 20px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  -moz-column-gap: 10px;
       column-gap: 10px;
  border-bottom: 1px solid #E8E8E8;
}
.store-content .store-details .store-details-item .store-details-icon i.bx {
  color: #22B573;
  font-size: 1.5rem;
}
.store-content .store-details .store-details-item .store-details-content {
  text-align: justify;
}

.newsletter-area {
  padding: 40px 0px;
}

.newsletter {
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
.newsletter::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #22B573;
  z-index: -1;
  opacity: 0.7;
}
.newsletter img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0px, -50%);
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
.newsletter .newsletter-content {
  text-align: center;
}
.newsletter .newsletter-content h4 {
  color: #FFFFFF;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.newsletter .newsletter-content h4:nth-child(2) {
  text-transform: uppercase;
  font-weight: 600;
}
.newsletter .newsletter-content .newsletter-form {
  -moz-column-gap: 10px;
       column-gap: 10px;
  display: flex;
  align-items: center;
}
.newsletter .newsletter-content .newsletter-form .form-control {
  background: #FFFFFF;
  border: 0px solid #FFFFFF;
  font-weight: 300;
  height: 40px;
}
.newsletter .newsletter-content .newsletter-form .btn {
  color: #FFFFFF;
  border: none;
  padding: 8px 30px;
}

.model-carousel .models {
  background-color: #f5f5f5;
  padding: 0px 35px;
}
.model-carousel .models .model-item {
  border-right: 1px solid #A0A4A8;
  height: 126px;
}
.model-carousel .models .model-item a img {
  width: 95px;
  margin: 0 auto;
  padding: 30px 0px;
}
.model-carousel .models .model-item:hover {
  background-color: #FFFFFF;
}

.post-section {
  padding: 40px 0px;
}

.add-post {
  background-color: #FFFFFF;
  padding: 50px 80px;
  border-radius: 5px;
}

.contact-area {
  background-color: #F1F1F1;
  padding: 45px 0px;
}
.contact-area .contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.contact-area .contact-content h1 {
  font-size: 2rem;
  width: 50%;
}
.contact-area .contact-content .contact-btn {
  width: calc(50% - 50px);
  text-align: right;
}
.contact-area .contact-content .btn {
  color: #FFFFFF;
  background-color: #FCB321;
  border: none;
  font-size: 26px;
  font-weight: 600;
}

footer {
  background-color: #22B573;
}
footer .footer-top {
  padding: 40px 0px;
}
footer .footer-top .footer-item .footer-item-title {
  margin-bottom: 15px;
}
footer .footer-top .footer-item .footer-item-title h5 {
  color: #FFFFFF;
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: uppercase;
}
footer .footer-top .footer-item .footer-item-content ul li {
  color: #FFFFFF;
  font-weight: 300;
}
footer .footer-top .footer-item .footer-item-content ul li a {
  font-size: 1rem;
  display: block;
  color: #FFFFFF;
  padding: 5px 0px;
}
footer .footer-top .footer-item .footer-item-content ul li a:hover {
  opacity: 0.95;
  text-decoration: underline;
}
footer .footer-top .footer-item .footer-item-content ul.content-only li {
  padding: 8px 0px;
}

.login {
  margin-top: 50px;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 7px rgba(34, 181, 115, 0.0666666667);
  border-radius: 3px;
  padding: 65px;
}
.login .button {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  padding: 0px 15px;
  color: #A0A4A8;
}
.login .button .form-btn {
  padding-bottom: 10px;
  width: 50%;
}
.login .button .register-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
  border-bottom: 4px solid #A0A4A8;
}
.login .button .login-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
  border-bottom: 4px solid #A0A4A8;
}
.login .button .login-btn:hover {
  color: #25282B;
  border-bottom: 4px solid #22B573;
}
.login .button .register-btn:hover {
  color: #25282B;
  border-bottom: 4px solid #22B573;
}
.login form label {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.login p {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #616161;
  text-align: center;
  padding: 25px 0px;
}
.login .remember {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}
.login .remember a {
  font-size: 18px;
  padding: 0px;
  color: #22B573;
  font-weight: 600;
}
.login .submit-btn {
  width: 400px;
  height: 63px;
  background: #22B573;
  border-radius: 3px;
  border: none;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  padding: 10px;
}
.login .social-txt {
  font-size: 18px;
  color: #616161;
}
.login .social-txt::after {
  content: "";
  height: 1px;
  width: 90px;
  background-color: #CACCCF;
  display: inline-block;
  vertical-align: middle;
}
.login .social-txt::before {
  content: "";
  height: 1px;
  width: 90px;
  background-color: #CACCCF;
  display: inline-block;
  vertical-align: middle;
}/*# sourceMappingURL=style.css.map */