.registration{
    margin-top: calc(158px - 109px) ;
    width: 1293px;
    height: 1565px;
    background-color: $color-white;
    box-shadow: 0px 4px 7px $shadow-primary;
    border-radius: 3px;
    padding: 68px 100px;

    .form-group{
        margin-bottom: 20px;
    }

    .form-label{
        font-size: 18px;
        font-weight: 300;
        color: #707575;
        line-height: 22px;
    }
    .form-control{
        border: 1px solid #D4DED9;
        height: 46px;
        border-radius: 5px;
    }

    .has-search .form-control {
        padding-left: 40px;
    }
    
    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 47px;
        line-height: 47px;
        text-align: center;
        pointer-events: none;
        color: #707575;
        font-size: 24px;
    }
    textarea.form-control{
        height: 100px;
    }

    .registration-form{
        border-bottom: 1px solid #D4DED9;
    }
    .post-btn{
        display: flex;
        justify-content: end;
    }
}


