footer {
    background-color: $color_primary;
    
    .footer-top {
        padding: 40px 0px;

        .footer-item {
            .footer-item-title {
                margin-bottom: 15px;
                h5 {
                    color: $color-white;
                    font-size: 1.125rem;
                    font-weight: 500;
                    text-transform: uppercase;
                }
            }

            .footer-item-content {
                ul {
                    li {
                        color: $color-white;
                        font-weight: 300;
                        a {
                            font-size: 1rem;
                            display: block;
                            color: $color-white;
                            padding: 5px 0px;

                            &:hover {
                                opacity: 0.95;
                                text-decoration: underline;
                            }
                        }
                    }

                    &.content-only {
                        li {
                            padding: 8px 0px;
                        }
                    }
                }
            }
        }
    }
}