.contact-area {
    background-color: #F1F1F1;
    padding: 45px 0px;
    
    .contact-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 50px;

        h1 {
            font-size: 2rem;
            width: 50%;
        }

        .contact-btn {
            width: calc(50% - 50px);
            text-align: right;
        }

        .btn {
            color: $color-white;
            background-color: $color-orange;
            border: none;
            font-size: 26px;
            font-weight: 600;
        }
    }
}

footer {
    background-color: $color_primary;
    
    .footer-top {
        padding: 40px 0px;

        .footer-item {
            .footer-item-title {
                margin-bottom: 15px;
                h5 {
                    color: $color-white;
                    font-size: 1.125rem;
                    font-weight: 500;
                    text-transform: uppercase;
                }
            }

            .footer-item-content {
                ul {
                    li {
                        color: $color-white;
                        font-weight: 300;
                        a {
                            font-size: 1rem;
                            display: block;
                            color: $color-white;
                            padding: 5px 0px;

                            &:hover {
                                opacity: 0.95;
                                text-decoration: underline;
                            }
                        }
                    }

                    &.content-only {
                        li {
                            padding: 8px 0px;
                        }
                    }
                }
            }
        }
    }
}