header {
    background-color: $color-white;
    padding: 5px 0px;

    .header-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;

        .logo {
            width: 230px;
            margin-right: 25px;
        }

        .header-right {
            width: calc(100% - 255px);
            display: flex;
            justify-content: space-between;
            align-items: center;

            .menus {
                ul {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: row;
                    flex-wrap: wrap;
                    column-gap: 5px;

                    li {
                        a {
                            text-transform: uppercase;
                            color: $color-dark;
                            padding: 15px 12px;
                            font-weight: 500;
                            font-size: 0.875rem;

                            &:hover {
                                color: $color-primary
                            }
                        }
                    }
                }
            }

            .header-right-user {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                column-gap: 15px;

                .user {
                    .dropdown {
                        .dropdown-toggle {
                            background-color: #fff0;
                            border: none;
                            color: $color-dark;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            column-gap: 5px;

                            &:focus {
                                box-shadow: none;
                                outline: none;
                            }
                        }
                    }
                }

                .header-btn {
                    padding: 8px 20px;
                    font-size: 1rem;
                    font-weight: 500;
                }
            }
        }
    }
}