.model-carousel {
    .models {
        background-color: $color-gray-light;
        padding: 0px 35px;
        .model-item {
            border-right: 1px solid $color-gray-3;
            height: 126px;
            a {
                img {
                   width: 95px;
                   margin: 0 auto;
                   padding: 30px 0px;
                }
            }

            &:hover {
                background-color: $color-white;
            }
        }
    }
}